.back{
    height: 600px;
    width: 1400px;
    margin: auto;
    background-image: url('https://img.freepik.com/free-photo/beautiful-luxury-outdoor-swimming-pool-hotel-resort_74190-7433.jpg?size=1400&ext=jpg&ga=GA1.1.1826414947.1698969600&semt=ais');
    background-repeat:no-repeat;
}
.main{
    height:200px;
     margin: auto;
     width: 400px;
     text-align: center;
     position: relative;
     top: 50px;
     padding-top: 25px;
     border: 3px solid rgb(14, 14, 13);
     background-color: antiquewhite;
     opacity: 0.7;
}
.btn{
    margin:30px;
}
.img{
    height:250px;
    width:370px;
}
.header{
    margin-left: 50px;
}
.example-card{
    margin-right: 250px;
    margin-left: 250px;
    width:800px;
}
.icon{
    margin-left: 20px;
}