 <div class="back">
    <form class="form" [formGroup]="signInForm">

        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input type="text" matInput formControlName="userName">
            <mat-hint class="hint" *ngIf="!signInForm.get('userName')?.touched">
                Please enter your User Name
            </mat-hint>
            <mat-error class="hint" *ngIf="signInForm.get('userName')?.errors?.['required']
         && signInForm.get('userName')?.touched">
                User Name is Required
            </mat-error>
        </mat-form-field>

        <br><br>
        <mat-form-field class="form-fields">
            <mat-label>Password</mat-label>
            <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password">
            <mat-icon matSuffix *ngIf="showPassword" (click)="showPass()">visibility</mat-icon>
            <mat-icon matSuffix *ngIf="!showPassword" (click)="showPass()"> visibility_off</mat-icon>
            <mat-error *ngIf="notValidUser">Invalid user name or password</mat-error>
        </mat-form-field>
       

        <br>
        <button mat-raised-button color="accent" (click)="submit()">Submit</button>
        <br><br>
        <a class="acc" routerLink="/signup">Don't have acount click here</a>

    </form>
</div>



