.form {
    height: 400px;
    //  background-color: rgb(200, 210, 231);
    border: 3px solid rgb(14, 14, 13);
    margin: auto;
    width: 400px;
    text-align: center;
    position: relative;
    top: 50px;
    padding-top: 25px;
    // opacity: 0.4;

}

.hint {
    color: antiquewhite;
    font-weight: 600px;

}


.back {
    height: 800px;
    width: 1320px;
    position: relative;
    margin: auto;
    background-image: url('https://cdn.pixabay.com/photo/2016/10/18/09/02/hotel-1749602_1280.jpg');
}

.acc {
    font-size: 20px;
    color: rgb(243, 231, 61);

}

mat-form-field{
    // margin-left: 60px;
    width: 250px;
    padding-top: 2px;
}
