
.btn{
    margin:30px;

}


.img{
    height:250px;
    width:370px;
}
.header{
    margin-left: 50px;
}
.example-card{
    margin-right: 200px;
    margin-left: 200px;
    width:900px;
     margin-top: 20px;
    background-color: rgb(236, 234, 240);
    
}
.icon{
    margin-left: 20px;
}

