.form{
    height: 700px;
    // background-color: rgb(242, 244, 245);
    border: 3px solid rgb(10, 10, 10);
    margin: auto;
    width: 400px;
    text-align: center;
    position:relative;
    top: 20px;
    padding-top: 25px;
    // opacity: 0.4;
   
}
.hint{
    color:rgb(255, 254, 254)
}


.back{
    margin-top: 50px;
    height: 800px;
    width: 1300px;
    margin: auto;
    background-image: url('https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1300');
}

