

.icn{
    float:left;
    font-size: 17px;
    margin-top: 3px;
}
tr,td,th,table{
    border: 2px solid orangered;
    background-color: rgb(215, 244, 245);
    border-collapse: collapse;
    text-align: center;
    padding: 5px 5px;
    margin: auto;
}



