<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div>
        <div class="topnav">
            <a class="active">Popcorn Bits Cinemas</a>
            <a href="#about">About</a>
            <input type="text" placeholder="Search..">
        </div>
    </div>

    <div>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" >
                    <img src="https://img.freepik.com/premium-psd/sci-fi-movi-poster-design_841014-23207.jpg" routerLink="/booking">
                </a>
            </div>
        </div>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank"  >
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXFFTLNC5U8kksIp2L3nou_-yiTmhpt7CCaNuMZBSrY2KnlK3YJGD0gRtvyzxxSW6N_Qc&usqp=CAU" routerLink="/booking">
                </a>

            </div>
        </div>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv8_avgc8fDsUkQ0Zdq63sjWmZ8BjyqB_mCH3UgyYlbKPzMlRt2UXdmg4FfYNSPZfm4B8&usqp=CAU" routerLink="/booking">
                </a>

            </div>
        </div>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQEyUTSGifcsklcH7Lz720unxGVpd5GfRUgLcMNV9nJ7KHSzRW_S0DFytQzFuXsBOi7Y4&usqp=CAU" routerLink="/booking">
                </a>
            </div>
        </div>
    </div>

    <div>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYJ_6UTam94DanWJsQ5uRbqkV9XisvsoQ5kyucQgQg7xunXFoOc8yAAgu53n0MY_wXHmQ&usqp=CAU" routerLink="/booking">
                </a>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXFFTLNC5U8kksIp2L3nou_-yiTmhpt7CCaNuMZBSrY2KnlK3YJGD0gRtvyzxxSW6N_Qc&usqp=CAU" routerLink="/booking">
                </a>

            </div>
        </div>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv8_avgc8fDsUkQ0Zdq63sjWmZ8BjyqB_mCH3UgyYlbKPzMlRt2UXdmg4FfYNSPZfm4B8&usqp=CAU" routerLink="/booking">
                </a>

            </div>
        </div>
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQEyUTSGifcsklcH7Lz720unxGVpd5GfRUgLcMNV9nJ7KHSzRW_S0DFytQzFuXsBOi7Y4&usqp=CAU" routerLink="/booking">
                </a>

            </div>
        </div>
       
                       
                       
                    
               
    </div>
  
</body>

</html>