<div class="back">
    <div class="form">
        <form [formGroup]="registrationForm">

            <mat-form-field class="form-fields">
                <mat-label>Full Name</mat-label>
                <input type="text" matInput formControlName="fullName">

                <mat-hint class="hint" *ngIf="!registrationForm.get('fullName')?.touched"> Please enter your name
                    </mat-hint>
                <mat-error
                    *ngIf="registrationForm.get('fullName')?.errors?.['required'] && registrationForm.get('fullName')?.touched">Full
                    Name is required</mat-error>

            </mat-form-field>

            <br>
            <br>
            <mat-form-field class="form-fields">
                <mat-label>Mob No</mat-label>
                <input type="text" matInput formControlName="mob">
                <br>

                <mat-hint class="hint">Please enter mob no </mat-hint>
                <mat-error *ngIf="registrationForm.get('mob')?.errors?.['maxlength'] && registrationForm.get('mob')?.touched">
                    mob no should not more than 10 digits
                </mat-error>
                <mat-error *ngIf="registrationForm.get('mob')?.errors?.['pattern'] 
                && registrationForm.get('mob')?.touched
                && !registrationForm.get('mob')?.errors?.['maxlength'] ">
                    Invalid pattern
                </mat-error>
            </mat-form-field>

            <br>
            <br>

            <br>
            <mat-form-field class="form-fields">
                <mat-label>Password</mat-label>
                <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password"
                    (keyup)="matchPassword()">
                <mat-icon matSuffix *ngIf="showPassword" (click)="showPass()">visibility</mat-icon>
                <mat-icon matSuffix *ngIf="!showPassword" (click)="showPass()"> visibility_off</mat-icon>
            </mat-form-field>
            <!-- <mat-error *ngIf="isMatch"> password and confirm password should match</mat-error>
            -->
            <br>
            <mat-form-field class="form-fields">
                <mat-label>Confirm Password</mat-label>
                <input [type]="showConfirmPassword ? 'text': 'password'" matInput formControlName="confirmPass"
                    (keyup)="matchPassword()">
                <mat-icon matSuffix *ngIf="showConfirmPassword" (click)="showConfirmPass()">visibility</mat-icon>
                <mat-icon matSuffix *ngIf="!showConfirmPassword" (click)="showConfirmPass()">visibility_off</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="isMatch"> password and confirm password should match</mat-error>

            <br>
            <button mat-raised-button color="accent" class="btn" (click)="submit()">Submit</button>

        </form>
    </div>
</div>
