.form{
    height: 700px;
    // background-color: rgb(242, 244, 245);
    border: 3px solid rgb(10, 10, 10);
    margin: auto;
    width: 400px;
    text-align: center;
    position:relative;
    top: 20px;
    padding-top: 25px;
    // opacity: 0.4;
   
}
.hint{
    color:rgb(250, 245, 245)
}


.back{
    margin-top: 50px;
    height: 900px;
    width: 1300px;
    margin: auto;
    background-image: url('../../assets/movie.jpeg');
}

