<div class="back">
  <div class="main">
    <button mat-raised-button color="accent"(click)="reg()" routerLink="/owner/hotelregister" class="btn" > Register
      Hotel </button>
  <!-- <button mat-raised-button color="accent" (click)="viewHotel()" class="btn">View My Hotel</button> -->
  </div>
</div>

<div>
  
  <mat-card class="example-card"  *ngFor="let data of hotelData">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="header"><u>{{data.hotelName}}</u></mat-card-title><br><br>
          
          <mat-card-title class="header"> Hotel Contact :{{data.hotelcontact}}</mat-card-title><br><br>
          <mat-card-title class="header">Owner Name :{{data.ownerName}}  </mat-card-title><br><br>
          <mat-card-title class="header"> Hotel Address: {{data.address}} </mat-card-title><br><br>
          <mat-card-title class="header">Rooms Available :{{data.rooms}}</mat-card-title><br><br>
          <img  class="img"mat-card-md-image [src] = "data.imageField">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="header">
     <button (click)="edit(data.id)" class="icon"
     class="icon"><b> Edit </b><mat-icon >edit</mat-icon> </button>

     <button (click)="delete(data.id)" class="icon"
     class="icon"><b>Delete</b><mat-icon >delete</mat-icon>  </button>
        
      </mat-card-content>
    
    </mat-card>
    </div>
  
  