.back{
    margin-top: 50px;
    height: 700px;
    width: 1300px;
    margin: auto;
    background-image: url('https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1300');
}
.buttons{
   margin-left: 100px;
   

   
}
.card{
   margin-top: 40px;
   margin-left: 90px;
    width:300px;
   
}
.main{
     margin-left: 90px;
}
.card-title{
 text-align: center;
 font-size: 15px;
}